<style>
.design {
  color: blue;
  background-color: white;
  text-align: center;
}
.para {
  padding: .5em;
  border: solid rgb(44,62,80);
  background-color: rgb(240, 243, 244);
}

.box{
  border: solid black;
}
</style>

<div>
<h1 class="design">This is your Article!</h1>
<p class="para">
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p class="para">
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>